.movie-wrapper {
  padding: var(--container-padding);
  width: 100%;
  gap: var(--container-padding);
  background: var(--card-background);
  box-shadow: 0px 0px 20px var(--bg-gray),
    -0px -0px 20px var(--card-background);
  border-radius: var(--border-radius);

  &:hover {
    box-shadow: 20px 20px 60px var(--bg-gray),
      -20px -20px 60px var(--card-background);
  }

  .movie {
    flex-grow: 1;
    width: 100%;

    .movie-icon-button {
      cursor: pointer;

      &:hover {
        .pathPrimary {
          fill: var(--primary-color);
        }
      }
    }
  }

  .movie-icon {
    flex-basis: 5%;

    @media (max-width: 768px) {
      flex-basis: 10%;
    }
  }

  .movie-casts li {
    width: 47%;
    flex-grow: 1;
  }

  .movie-moreinfo {
    padding-top: var(--space-unit);
    margin-top: var(--space-unit);
    border-top: 1px solid;

    a {
      color: var(--primary-color);

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}