h1,
.h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--title-color);
}

h5 {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 0.4rem;
}

section {
  padding: var(--large-unit) 0;
}

.line {
  background-color: var(--itay-color);
  width: 40px;
  height: 3px;
  margin: 0 auto 30px;
}