:root {
  --container-width: 1280px;
  --container-padding: var(--space-unit);
  --primary-color: #304ffe;
  --secondary-color: #1a237e;
  --bg-gray: #f2f2f2;
  /* typography */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --space-unit: clamp(1rem, 0.25vw + 1rem, 1.5rem);
  --large-unit: 80px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.mb-large {
  margin-bottom: var(--large-unit);
}

.gap {
  gap: var(--container-padding);
}

.gap-l {
  gap: calc(var(--container-padding) * 3);
}

.wrap {
  flex-wrap: wrap;
}

.bg-gray {
  background-color: var(--bg-gray);
}

@media (max-width: 768px) {
  .mobile-col {
    flex-direction: column;
  }
}