.movie-wrapper {
  padding: var(--container-padding);
  width: 100%;
  gap: var(--container-padding);
  background: #fff;
  box-shadow: 20px 20px 43px #cecece,
    -20px -20px 43px #ffffff;

  &:hover {
    box-shadow: 20px 20px 60px #cecece,
      -20px -20px 60px #ffffff;
  }

  .movie {
    flex-grow: 1;
    width: 100%;
  }

  .movie-icon {
    flex-basis: 5%;
  }

  .movie-casts li {
    width: 47%;
    flex-grow: 1;
  }

  .movie-moreinfo a {
    color: var(--primary-color);
  }
}